# Prevent directory browsing
Options All -Indexes

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-l

RewriteCond %{REQUEST_FILENAME} !\.(js$|css|map|ico|txt|woff2|woff|font|images)
RewriteCond %{REQUEST_URI} !\.(js$|css|map|ico|txt|woff2|woff|font|images)

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]